<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./index.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%  if(errorMessage)  { %>
    <% for(let i=0;i<errorMessage.length;i++) { %>
      <div class="errorBox">
          <%=  errorMessage[i].msg    %>
         </div>
         <% } %>
    <% }  %>

    <div id="formBox">
        <div id="title">
            Add Info
        </div>
        <form method="post">
            <table>
                <tr>
                    <td class="leftSide">
                        Name
                    </td>
                </tr>
                <tr>
                    <td class="rightSide">
                        <input name="userName" type="text">
                    </td>
                </tr>
                <tr>
                    <td class="leftSide">
                        Email
                    </td>
                </tr>
                <tr>
                    <td class="rightSide">
                        <input name="eMail" type="email" >
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Add User">
                    </td>
                </tr>
            </table>

        </form>
    </div>
</body>
</html>